@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= CSS RESET ============= */

:root {
  --primary: #f97316;
  --dark: #131313;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline-color: var(--secondary); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
section {
  font: inherit;
}

html {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: var(--primary);
  background-color: var(--dark);
}

html {
  scroll-behavior: smooth;
}

/* Swiper */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
